[Unit]
Description=EcheLOn Pyrogenesis/0 A.D. Lobby Bot %i
Documentation=https://trac.wildfiregames.com/
After=network.target ejabberd.service

[Service]
Type=exec
User={{ bot.name }}
Environment=PATH={{ lobby_bots_base_dir }}/{{ bot.name }}/code/bin
ExecStart=python3 {{ lobby_bots_base_dir }}/{{ bot.name }}/code/bin/echelon \
          --config-file {{ lobby_bots_config_dir }}/{{ bot.name }}.toml \
          --database-url sqlite:////{{ lobby_bots_base_dir }}/{{ bot.name }}/db.sqlite
Restart=on-failure

NoNewPrivileges=true
PrivateDevices=true
PrivateMounts=true
PrivateTmp=true
PrivateUsers=true
ProtectClock=true
ProtectControlGroups=true
ProtectHome=true
ProtectHostname=true
ProtectKernelLogs=true
ProtectKernelModules=true
ProtectKernelTunables=true
ProtectSystem=full
SystemCallArchitectures=native
SystemCallFilter=access arch_prctl brk close connect epoll_create1 epoll_ctl epoll_wait fchmod
SystemCallFilter=fcntl fdatasync fstat futex getcwd getdents64 geteuid getpeername getpid getrandom
SystemCallFilter=getsockname getsockopt gettid ioctl lseek mkdir mmap mprotect mremap munmap
SystemCallFilter=newfstatat openat pread64 prlimit64 pwrite64 read readlink recvfrom rseq
SystemCallFilter=rt_sigaction sendto set_robust_list setsockopt set_tid_address socket socketpair
SystemCallFilter=sysinfo uname unlink write

[Install]
WantedBy=multi-user.target
