[Unit]
Description=Pyrogenesis/0 A.D. Lobby Moderation Bot %i
Documentation=https://trac.wildfiregames.com/
After=network.target ejabberd.service

[Service]
Type=exec
User={{ bot.name }}
Environment=PATH={{ lobby_bot_base_dir }}/{{ bot.name }}/code/bin
EnvironmentFile={{ lobby_config_dir }}/{{ bot.name }}
ExecStart=python3 {{ lobby_bot_base_dir }}/{{ bot.name }}/code/bin/moderation \
          --login ${LOGIN} --password ${PASSWORD} --nickname ${NICKNAME} --domain ${HOST} \
          --rooms {%- for room in bot.config.ROOMS.split(" ") %} {{ room }}{%- endfor %} -d -t \
          --database-url sqlite:////{{ lobby_bot_base_dir }}/{{ bot.name }}/db.sqlite
Restart=on-failure

NoNewPrivileges=true
PrivateDevices=true
PrivateMounts=true
PrivateTmp=true
PrivateUsers=true
ProtectClock=true
ProtectControlGroups=true
ProtectHome=true
ProtectHostname=true
ProtectKernelLogs=true
ProtectKernelModules=true
ProtectKernelTunables=true
ProtectSystem=full

[Install]
WantedBy=multi-user.target
