[Unit]
Description=Pyrogenesis/0 A.D. Lobby Moderation Bot %i
Documentation=https://trac.wildfiregames.com/
After=network.target ejabberd.service

[Service]
Type=exec
User={{ bot.name }}
Environment=PATH={{ lobby_bot_base_dir }}/{{ bot.name }}/code/bin
EnvironmentFile={{ lobby_config_dir }}/{{ bot.name }}
ExecStart=python3 {{ lobby_bot_base_dir }}/{{ bot.name }}/code/bin/modbot \
          --login ${LOGIN} --password ${PASSWORD} --nickname ${NICKNAME} --domain ${HOST} \
          --rooms {%- for room in bot.config.ROOMS.split(" ") %} {{ room }}{%- endfor %} -d \
          --command-room ${COMMAND_ROOM} --no-verify \
          --database-url sqlite:////{{ lobby_bot_base_dir }}/{{ bot.name }}/db.sqlite
Restart=on-failure

NoNewPrivileges=true
PrivateDevices=true
PrivateMounts=true
PrivateTmp=true
PrivateUsers=true
ProtectClock=true
ProtectControlGroups=true
ProtectHome=true
ProtectHostname=true
ProtectKernelLogs=true
ProtectKernelModules=true
ProtectKernelTunables=true
ProtectSystem=full
SystemCallArchitectures=native
SystemCallFilter=access arch_prctl brk close connect epoll_create1 epoll_ctl epoll_wait fchmod
SystemCallFilter=fcntl fdatasync futex getcwd getdents64 geteuid getpeername getpid getrandom
SystemCallFilter=getsockname getsockopt gettid ioctl lseek mmap mprotect mremap munmap newfstatat
SystemCallFilter=openat pread64 prlimit64 pwrite64 read readlink recvfrom rseq rt_sigaction sendto
SystemCallFilter=set_robust_list setsockopt set_tid_address socket socketpair sysinfo uname unlink
SystemCallFilter=write

[Install]
WantedBy=multi-user.target
