[Unit]
Description=Pyrogenesis/0 A.D. Lobby Moderation Bot %i
After=network.target ejabberd.service

[Service]
Type=exec
User={{ bot.name }}
Environment=PATH={{ lobby_bots_base_dir }}/{{ bot.name }}/code/bin
ExecStart=python3 {{ lobby_bots_base_dir }}/{{ bot.name }}/code/bin/modbot \
          --config-file {{ lobby_bots_config_dir }}/{{ bot.name }}.toml \
          --database-url sqlite:////{{ lobby_bots_base_dir }}/{{ bot.name }}/db.sqlite
Restart=on-failure

NoNewPrivileges=true
PrivateDevices=true
PrivateMounts=true
PrivateTmp=true
PrivateUsers=true
ProtectClock=true
ProtectControlGroups=true
ProtectHome=true
ProtectHostname=true
ProtectKernelLogs=true
ProtectKernelModules=true
ProtectKernelTunables=true
ProtectSystem=full
SystemCallArchitectures=native
SystemCallFilter=access arch_prctl brk clone3 close connect epoll_create1 epoll_ctl epoll_wait
SystemCallFilter=fchmod fcntl fdatasync fstat futex getcwd getdents64 geteuid getpeername getpid
SystemCallFilter=getrandom getsockname getsockopt gettid ioctl inotify_add_watch inotify_init1
SystemCallFilter=lseek madvise mkdir mmap mprotect mremap munmap newfstatat open openat pipe2
SystemCallFilter=pread64 prlimit64 pwrite64 read readlink recvfrom rseq rt_sigaction rt_sigprocmask
SystemCallFilter=sendto set_robust_list setsockopt set_tid_address socket socketpair sysinfo uname
SystemCallFilter=unlink write

[Install]
WantedBy=multi-user.target
