renew_before_expiry = 60 days
version = 2.1.0
archive_dir = /etc/letsencrypt/archive/{{ domain }}
cert = /etc/letsencrypt/live/{{ domain }}/cert.pem
privkey = /etc/letsencrypt/live/{{ domain }}/privkey.pem
chain = /etc/letsencrypt/live/{{ domain }}/chain.pem
fullchain = /etc/letsencrypt/live/{{ domain }}/fullchain.pem

# Options used in the renewal process
[renewalparams]
account = {{ acme_account.files[0]["path"] | split("/") | last }}
authenticator = standalone
pref_challs = http-01,
server = https://acme-v02.api.letsencrypt.org/directory
key_type = ecdsa
